<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <title>React App</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,regular%7CRoboto+Condensed:regular">
    <link href="{{ url_for('static', filename='css/main.56b2a9c3.css') }}" rel="stylesheet">
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.6d22893e.js') }}"></script>
</body>
</html>
